In [7]:
import order_data
import numpy
import pandas as pd
from collections import OrderedDict

In [10]:
df = pd.read_csv("fc1.csv" )

In [15]:
columns_titles = ["FaultName","Fault Code"]
df=df.reindex(columns=columns_titles)
df

                    FaultName  Fault Code
0       03. FAR Level 3 Fault           3
1       03. FAR Level 3 Fault           3
2       03. FAR Level 3 Fault           3
3       03. FAR Level 3 Fault           3
4       03. FAR Level 3 Fault           3
...                       ...         ...
389343  03. FAR Level 3 Fault           3
389344  06. Converter Failure           6
389345  03. FAR Level 3 Fault           3
389346  03. FAR Level 3 Fault           3
389347  06. Converter Failure           6

[389348 rows x 2 columns]

In [16]:
df.columns = ['lable', 'value'] 
df

                        lable  value
0       03. FAR Level 3 Fault      3
1       03. FAR Level 3 Fault      3
2       03. FAR Level 3 Fault      3
3       03. FAR Level 3 Fault      3
4       03. FAR Level 3 Fault      3
...                       ...    ...
389343  03. FAR Level 3 Fault      3
389344  06. Converter Failure      6
389345  03. FAR Level 3 Fault      3
389346  03. FAR Level 3 Fault      3
389347  06. Converter Failure      6

[389348 rows x 2 columns]

In [17]:
pf= df.drop_duplicates("lable")
pf

                                lable  value
0               03. FAR Level 3 Fault      3
17      15.Loss of Door Closed Status     15
48              06. Converter Failure      6
60                 04. Failed to Dock      4
88                01. Passenger Alarm      1
808         05. Dynamic Brake Failure      5
2618                11. V = 0 Failure     11
2835            02. FAR Level 2 Fault      2
2836     12. Obstruction in AUTO Mode     12
2853                     10. Rollback     10
2856            07. FAR Level 1 Fault      7
5036              08. Train Overspeed      8
6673              13. EB Test Failure     13
10078      09. Target Point Overshoot      9
142987     14. Power Deselect Failure     14

In [18]:
pf = pf.sort_values(by=['value'])
pf

                                lable  value
88                01. Passenger Alarm      1
2835            02. FAR Level 2 Fault      2
0               03. FAR Level 3 Fault      3
60                 04. Failed to Dock      4
808         05. Dynamic Brake Failure      5
48              06. Converter Failure      6
2856            07. FAR Level 1 Fault      7
5036              08. Train Overspeed      8
10078      09. Target Point Overshoot      9
2853                     10. Rollback     10
2618                11. V = 0 Failure     11
2836     12. Obstruction in AUTO Mode     12
6673              13. EB Test Failure     13
142987     14. Power Deselect Failure     14
17      15.Loss of Door Closed Status     15

In [19]:
pf.to_dict('records')

[{'lable': '01. Passenger Alarm', 'value': 1},
 {'lable': '02. FAR Level 2 Fault', 'value': 2},
 {'lable': '03. FAR Level 3 Fault', 'value': 3},
 {'lable': '04. Failed to Dock', 'value': 4},
 {'lable': '05. Dynamic Brake Failure', 'value': 5},
 {'lable': '06. Converter Failure', 'value': 6},
 {'lable': '07. FAR Level 1 Fault', 'value': 7},
 {'lable': '08. Train Overspeed', 'value': 8},
 {'lable': '09. Target Point Overshoot', 'value': 9},
 {'lable': '10. Rollback', 'value': 10},
 {'lable': '11. V = 0 Failure', 'value': 11},
 {'lable': '12. Obstruction in AUTO Mode', 'value': 12},
 {'lable': '13. EB Test Failure', 'value': 13},
 {'lable': '14. Power Deselect Failure', 'value': 14},
 {'lable': '15.Loss of Door Closed Status', 'value': 15}]

In [13]:
pf = df.groupby(["VOBCID", "LocationName", "Fault Code"]).size()
pf = pf.to_frame(name = 'FaultCount').reset_index()
pf = pf.nlargest(350,"FaultCount") 
pf

       VOBCID LocationName  Fault Code  FaultCount
19407     228      GRE-DEB           3         571
19379     228      DEB-ELR           3         565
30726     306      DEB-ELR           3         514
30756     306      GRE-DEB           3         499
24301     262      GRE-DEB           3         492
...       ...          ...         ...         ...
22374     248          PML           3         131
29533     298      BEC-GAR           3         131
29928     300      EAI-CAT           3         131
2693       44          ELR           3         130
14272     186          ELR           3         130

[350 rows x 4 columns]

In [8]:
import order_data
import dict_gen

In [9]:
df0 = order_data.import_data("fc1.csv")
df0

,Fault Code,FaultName,Fault Code Set,Active Passive Status,VOBCID,Velocity,IntervalTime,LocationName
LoggedAt,,,,,,,,
2014-01-01 00:35:29.110000000,3,03. FAR Level 3 Fault,-1,-1,290,37,116.07,WIQ-WES
2014-01-01 00:35:58.900000000,3,03. FAR Level 3 Fault,0,-1,228,54,0.00,SHA-BAN
2014-01-01 00:37:25.180000000,3,03. FAR Level 3 Fault,0,-1,290,35,0.00,WES-LIM
2014-01-01 00:38:34.670000000,3,03. FAR Level 3 Fault,0,-1,276,0,0.00,LEW
2014-01-01 00:39:06.640000000,3,03. FAR Level 3 Fault,-1,-1,260,20,78.42,PDK
...,...,...,...,...,...,...,...,...
2014-12-31 22:21:06.770000000,3,03. FAR Level 3 Fault,0,-1,298,49,0.00,CAT-WST
2014-12-31 22:21:12.290000000,6,06. Converter Failure,0,-1,256,41,0.00,SHS-ABR
2014-12-31 22:21:45.580000000,3,03. FAR Level 3 Fault,-1,-1,306,39,7316.34,GRE-DEB
2014-12-31 22:22:19.560000000,3,03. FAR Level 3 Fault,0,-1,308,38,0.00,CAT-ROV
2014-12-31 22:22:50.960000000,6,06. Converter Failure,-1,-1,256,11,0.00,WEH

In [3]:
faultcode_ = [1,2,3,4,5]
filtered_df = df0[df0['Fault Code'].isin(faultcode_)]
filtered_df

,Fault Code,FaultName,Fault Code Set,Active Passive Status,VOBCID,Velocity,IntervalTime,LocationName
LoggedAt,,,,,,,,
2014-01-01 00:35:29.110000000,3,03. FAR Level 3 Fault,-1,-1,290,37,116.07,WIQ-WES
2014-01-01 00:35:58.900000000,3,03. FAR Level 3 Fault,0,-1,228,54,0.00,SHA-BAN
2014-01-01 00:37:25.180000000,3,03. FAR Level 3 Fault,0,-1,290,35,0.00,WES-LIM
2014-01-01 00:38:34.670000000,3,03. FAR Level 3 Fault,0,-1,276,0,0.00,LEW
2014-01-01 00:39:06.640000000,3,03. FAR Level 3 Fault,-1,-1,260,20,78.42,PDK
...,...,...,...,...,...,...,...,...
2014-12-31 22:13:41.840000000,3,03. FAR Level 3 Fault,0,-1,250,58,0.00,DEB-ELR
2014-12-31 22:20:12.640000000,3,03. FAR Level 3 Fault,-1,-1,308,53,126.92,EAI-CAT
2014-12-31 22:21:06.770000000,3,03. FAR Level 3 Fault,0,-1,298,49,0.00,CAT-WST
2014-12-31 22:21:45.580000000,3,03. FAR Level 3 Fault,-1,-1,306,39,7316.34,GRE-DEB
2014-12-31 22:22:19.560000000,3,03. FAR Level 3 Fault,0,-1,308,38,0.00,CAT-ROV

In [10]:

df2 = order_data.sort_VOBCID_FaultCount(df0, 300, [1,2,3,4,5])
df2

TypeError: sort_VOBCID_FaultCount() takes 2 positional arguments but 3 were given